
.site-header{
    background-color: #003153;
    color: #d7c447;
    text-shadow: 2px 2px #e60012;
    font-family: 'Nunito', sans-serif;
}

/*Daravy meas and A Biography*/

#name{
    text-decoration: underline;
    font-weight: 1000;
    text-align: center;
    font-size: xx-large;
    text-transform: capitalize;
}
#biography{
    font-weight: 100;
    text-align: center;
    font-size: x-large;
}

/*age, place of birth and Nationality*/
p{
    text-align: left;
}

/*body*/
h3{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}